
<head>
    <link href="/css/stylesHome.css" rel="stylesheet" />
</head> 
<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 style="color:white" class="mb-1">AIFA</h1>
        <h3 style="color:white"class="mb-5"><em>Aeropuerto Internacional Felipe Ángeles</em></h3>
    </div>
</header>