 <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">AIFA SCHEDULE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {{#if user}}
                            {{#ifCond user.range '==' "ADMIN" }}
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                                    <li class="nav-item">
                                        <a class="nav-link "  href="./gates">GATES</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="./request">REQUEST</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link "  href="/users/logout">LogOut</a></li>
                                </ul>
                            {{else}}
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                                    <li class="nav-item">
                                        <a class="nav-link "  href="./gates">GATES</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link "  href="/users/logout">LogOut</a></li>
                                </ul>
                            {{/ifCond}}
                            
                    {{else}}
                            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ms-lg-4">
                                <li class="nav-item">
                                    <a class="nav-link "  href="/users/signin">SignIn</a></li>
                                <li class="nav-item">
                                    <a class="nav-link "  href="/users/signup">SignUp</a></li>
                                
                            </ul>
                            
                    {{/if}}
                </div>
            </div>
        </nav>